*{
  margin: 0px;
  padding: 0px;  
}
body{
    background-color: aqua;
}
.centersaita{
    color: rgb(37, 37, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}
header{
    background-color: blue;
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0px;
    height: 50px;
    
}
.search{
    float: right;
}
input[type="text"]{
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}
button{
    padding: 8px 15px;
    background-color: brown;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    background-color: blue;
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0px;
    height: 50px;
}
.custom-widgh {
    width: 300px;
}